#TODO START_PRINT needs adjustment
# --------------------------- Start Print ----------------------------
[gcode_macro START_PRINT]
description: Start G-Code
gcode:
    {% set BED = params.BED|default(60)|float %}
    {% set BED_TEMP = params.BED_TEMP|default(0)|float %}
    {% set EXTRUDER = params.EXTRUDER|default(200)|float %}
    {% set EXTRUDER_TEMP = params.EXTRUDER_TEMP|default(0)|float %}

    {% if (EXTRUDER_TEMP > 0) %}
	    {% set EXTRUDER = EXTRUDER_TEMP %}
    {% endif %}

    {% if (BED_TEMP > 0) %}
	    {% set BED = BED_TEMP %}
    {% endif %}

    SET_HEATER_TEMPERATURE HEATER=heater_bed TARGET={BED}    ; set bed temp
    SET_HEATER_TEMPERATURE HEATER=extruder TARGET=150        ; set nozzle temp for probing -- needs to be hot enough to squish any filament on the nozzle
    TEMPERATURE_WAIT SENSOR=extruder MINIMUM=150             
    M117 Homing...
    M300
    G21          ; set to mm
    M220 S100	 ; set print speed to 100%
    M221 S100	 ; set flow rate to 100%
    M107         ; disable fans
    G90          ; absolute positioning

    {% if printer.homed_axes != 'XYZ' %} # Home if needed
        G28
    {% endif %}

    BED_MESH_CLEAR
    BED_MESH_CALIBRATE

    M117 Heating to {EXTRUDER}C...
    SET_HEATER_TEMPERATURE HEATER=extruder TARGET={EXTRUDER}
    TEMPERATURE_WAIT SENSOR=extruder MINIMUM={EXTRUDER} ; wait for extruder temp

    M117 Purge Line
    M83                                                 ; extruder to relative mode
    G92 E0                                              ; Reset extruder
    LINE_PURGE
    G92 E0
    M400		                                ; clear buffer
    UPDATE_DELAYED_GCODE ID=_CLEAR_DISPLAY DURATION=10
    M117 Printing

# --------------------------------------------------------------------
